/*
 ******************************************************
 *                     Base Style                     *
 ******************************************************
 */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --const-nav-bar-height: 44px;
    --const-large-title-height: 52px;
    --const-tab-bar-height: 49px;

    /*
     Navigation Bar Height:
     - Standard height for iOS navigation bar.
     - Additional height is considered when in large title mode.
    */
    --navigation-bar-height: var(--const-nav-bar-height);
    --large-title-height: var(--const-large-title-height);

    /*
     Tab Bar Height:
     - Standard height for iOS tab bar.
    */
    --tab-bar-height: var(--const-tab-bar-height);

    /*
     Safe Area Insets:
     - These values ensure that content is not obscured by hardware features like the notch or home indicator.
     - `env()` function is used to obtain safe area values provided by iOS.
    */
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: max(12px, env(safe-area-inset-left));
    --safe-area-inset-right: max(12px, env(safe-area-inset-right));

    /* Tab Bar icon shift */
    --tab-bar-icon-offset: 10px;

    /* Icon Sizes */

    --tab-bar-icon-size: 25px; /* Size @1x */
    --toolbar-icon-size: 22px; /* Size @1x */
    --navigation-bar-icon-size: 22px; /* Size @1x */

    /* Typography*/

    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    --navigation-title-size: 17px; /* Size @1x */
    --navigation-title-weight: 600; /* semi bold */

    --navigation-title-size-large: 34px; /* Size @1x */
    --navigation-title-weight-large: 700; /* bold */

    --buttons-size: 17px; /* Size @1x */
    --buttons-weight: 400; /* regular */

    --search-bar-size: 17px; /* Size @1x */
    --search-bar-weight: 400; /* regular */

    --tab-bar-label-size: 10px; /* Size @1x */
    --tab-bar-label-weight: 400; /* regular */

    /* Device height */
    --device-height: 100vh;
}

/*
 ******************************************************
 *                     Animations                     *
 ******************************************************
 */

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/*
 ******************************************************
 *             Base HTML and Body Styles              *
 ******************************************************
 */

html, body {
    /*
     Resets the default margin of the body, which browsers apply by default.
     This is a common practice in CSS resets to ensure consistency across browsers.
    */
    margin: 0;
    padding: 0;

    /*
       Sets the height of the html element to 100% of the viewport height.
       This ensures that the html element is always at least the height of the viewport.
       This is a common practice in CSS resets to ensure consistency across browsers.

       Note: This is not the same as setting the height to 100vh, which would be 100% of the viewport height
      */
    min-height: 100vh;

    font-family: var(--font-family);

    /*
      Native behavior
      Remove default tap highlight from navigators
     */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;

    /*
      These are browser-specific properties to enhance the readability of text,
      particularly on macOS and iOS.
     */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scrollbar-width: none; /* Firefox 64+ */
    -ms-overflow-style: none; /* IE 10+ */

    /* Scrolling  */
    scroll-behavior: smooth;

    /* Prevents scrolling */
    overflow: hidden !important;
}

/*
 ******************************************************
 *       Responsive Design By Phone resolution        *
 ******************************************************
 */

/*
 1179×2556 pixels at 460ppi:
 - For
 iPhone 14 Pro
 iPhone 15
 iPhone 15 Pro
*/
@media only screen
and (width: 393px)
    /*and (height: 852px)*/
and (-webkit-device-pixel-ratio: 3) {
    :root {
        --navigation-bar-height: calc(var(--const-nav-bar-height) * 2);
        --large-title-height: calc(var(--const-large-title-height) * 1.5);
        --tab-bar-height: calc(var(--const-tab-bar-height) * 1.5);
        --tab-bar-icon-size: calc(var(--tab-bar-icon-size) * 1.5);
        --tab-bar-label-size: calc(var(--tab-bar-label-size) * 1.5);
    }
}

/*
 1284×2778 pixels at 460ppi
 - For
 iPhone 14 Pro Max
 iPhone 15 Plus
 iPhone 15 Pro Max
*/
@media only screen
and (width: 430px)
    /*and (height: 932px)*/
and (-webkit-device-pixel-ratio: 3) {
    :root {
        --navigation-bar-height: calc(var(--const-nav-bar-height) * 2);
        --large-title-height: calc(var(--const-large-title-height) * 1);
        --tab-bar-height: calc(var(--const-tab-bar-height) * 2);
        --tab-bar-icon-size: calc(var(--tab-bar-icon-size) * 1.5);
        --tab-bar-label-size: calc(var(--tab-bar-label-size) * 1.5);
        --device-height: 932px;
    }
}

/*
 1170×2532 pixels at 460ppi:
 - For
 iPhone 12
 iPhone 12 Pro
 iPhone 13 Pro Max
 iPhone 13 Pro Max
 iPhone 14
*/
@media only screen
and (width: 390px)
    /*and (height: 844px)*/
and (-webkit-device-pixel-ratio: 3) {
    :root {
        --navigation-bar-height: calc(var(--const-nav-bar-height) * 2);
        --large-title-height: calc(var(--const-large-title-height) * 1);
        --tab-bar-height: calc(var(--const-tab-bar-height) * 1.1);
        --tab-bar-icon-size: calc(var(--tab-bar-icon-size) * 1.5);
        --tab-bar-label-size: calc(var(--tab-bar-label-size) * 1.5);
        --device-height: 844px;
    }
}

/*
 1284×2778 pixels at 460ppi:
 - For
 iPhone 12 Pro Max
 iPhone 13 Pro Max
 iPhone 14 Plus
*/
@media only screen
and (width: 428px)
    /*and (height: 926px)*/
and (-webkit-device-pixel-ratio: 3) {
    :root {
        --navigation-bar-height: calc(var(--const-nav-bar-height) * 2);
        --large-title-height: calc(var(--const-large-title-height) * 1);
        --tab-bar-height: calc(var(--const-tab-bar-height) * 2);
        --tab-bar-icon-size: calc(var(--tab-bar-icon-size) * 1.5);
        --tab-bar-label-size: calc(var(--tab-bar-label-size) * 1.5);
        --device-height: 926px;
    }
}

/*
 1080×2340 pixels at 476ppi
 - For
 iPhone X
 iPhone Xs
 iPhone 11 Pro
 iPhone 12 Mini
 iPhone 13 Mini
*/
@media only screen
and (width: 375px)
    /*and (height: 812px)*/
and (-webkit-device-pixel-ratio: 3) {
    :root {
        --navigation-bar-height: calc(var(--const-nav-bar-height) * 2);
        --large-title-height: calc(var(--const-large-title-height) * 2);
        --tab-bar-height: calc(var(--const-tab-bar-height) * 1);
    }
}

/*
 828×1792 pixels at 326ppi
 - For
 iPhone XR
 iPhone 11
*/
@media only screen
and (width: 414px)
    /*and (height: 896px)*/
and (-webkit-device-pixel-ratio: 2) {
    :root {
        --navigation-bar-height: calc(var(--const-nav-bar-height) * 2);
        --large-title-height: calc(var(--const-large-title-height) * 2);
        --tab-bar-height: calc(var(--const-tab-bar-height) * 1);
    }
}

/*
 1242×2688 pixels at 458ppi
 - For
 iPhone Xs Max
 iPhone 11 Pro Max
*/
@media only screen
and (width: 414px)
    /*and (height: 896px)*/
and (-webkit-device-pixel-ratio: 3) {
    :root {
        --navigation-bar-height: calc(var(--const-nav-bar-height) * 2);
        --large-title-height: calc(var(--const-large-title-height) * 2);
        --tab-bar-height: calc(var(--const-tab-bar-height) * 1);
    }
}

/*
 750×1334 pixels at 326ppi
 - For
 iPhone 7 (2016)
 iPhone 8 (2017)
 iPhone SE (1st to 3rd gen)
*/
@media only screen
and (width: 375px)
    /*and (height: 667px)*/
and (-webkit-device-pixel-ratio: 2) {
    :root {
        --navigation-bar-height: calc(var(--const-nav-bar-height) * 2);
        --large-title-height: calc(var(--const-large-title-height) * 2);
        --tab-bar-height: calc(var(--const-tab-bar-height) * 1);
    }
}

.navigation-bar {
    /* Positioning */
    position: fixed; /* Ensures the navigation bar is always at the top of the viewport */
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Ensures the navigation bar is always on top of other content */
    height: var(--navigation-bar-height); /* Sets the height of the navigation bar */
    padding-top: var(--safe-area-inset-top); /* Adds padding to avoid overlapping with the status bar */

    /* Typography */
    font-size: var(--navigation-title-size) !important; /* Sets the font size of the navigation title */
    font-weight: var(--navigation-title-weight) !important; /* Sets the font weight of the navigation title */
}

.large-navigation-title {
    /* Positioning */
    position: static; /* Ensures the navigation bar follow page flow */
    padding-top: calc(var(--navigation-bar-height)); /* Adds padding to avoid overlapping with the status bar */
    padding-left: var(--safe-area-inset-left); /* Ensures title does not underlap the notch */

    z-index: 0; /* Ensures the large navigation title fits in the flow */
    height: var(--large-title-height); /* Total height when using large title */

    /* Typography */
    font-size: var(--navigation-title-size-large) !important; /* Sets the font size of the navigation title */
    font-weight: var(--navigation-title-weight-large) !important; /* Sets the font weight of the navigation title */
}

.tab-bar {
    /* Positioning */
    position: fixed; /* Ensures the tab bar is always at the bottom of the viewport */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: var(--tab-bar-height); /* Sets the height of the tab bar */
    padding-bottom: var(--safe-area-inset-bottom); /* Adds padding to avoid overlapping with home indicator */

    /* Typography */
    font-size: var(--tab-bar-label-size) !important;
    font-weight: var(--tab-bar-label-weight) !important; /* Sets the font weight of the tab bar labels */
}

.tab-bar-icon {
    /* Positioning */
    position: relative;
    width: var(--tab-bar-icon-size);
    height: var(--tab-bar-icon-size);
    top: var(--tab-bar-icon-offset);
}

.main-content, .main-content-with-large-title {
    padding-top: calc(var(--navigation-bar-height) + var(--safe-area-inset-bottom)); /* Ensures content starts below the navigation bar */
    padding-bottom: calc(var(--tab-bar-height) + var(--safe-area-inset-bottom)); /* Ensures content does not underlap the tab bar */
    padding-left: var(--safe-area-inset-left); /* Ensures content does not underlap the notch */
    padding-right: var(--safe-area-inset-right); /* Ensures content does not underlap the notch */

    overflow: hidden;
    min-height: 90vh;
}

.main-content-with-large-title {
    /* Ensures content starts below the large navigation title */
    padding-top: calc(var(--large-title-height) + var(--safe-area-inset-bottom));
}

/*
 ******************************************************
 *               Scrollbar Styling                    *
 ******************************************************
 */
::-webkit-scrollbar {
    display: none;
    width: 0; /* For vertical scrollbars */
    height: 0; /* For horizontal scrollbars */
}

/*
 ******************************************************
 *               Reusable Components                  *
 ******************************************************
 */
.glass, .glassBar {
    background: rgba(248, 247, 242, 0.69);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.no-glass {
    /* Shared Styles */
    background: rgba(248, 247, 242, 0.69);
    backdrop-filter: blur(20px);
}

.glassBar {
    /* Unique Styles */
    border-radius: 20px;
}

/* Styles for dark theme */
@media (prefers-color-scheme: dark) {
    .glass, .glassBar {
        background: rgba(30, 30, 30, 0.7); /* Darker color for dark theme */
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .no-glass {
        /* Shared Styles */
        background: rgba(30, 30, 30, 0.7);
        backdrop-filter: blur(20px);
    }
}
